.content-coaches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coach {
    display: flex;
    width: 80%;
    height: 15rem;
    margin: 2rem 0;
}

.coaches-img-container {
    width: 35%;
    height: 15rem;
}

.coach-info {
    width: 65%;
    height: 100%;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255, .7)
}

.coach-info p {
    font-size: 1.1rem;
    margin-top: .5rem;
    font-family: Merriweather;
    line-height: 1.7rem;
}

