.nav-sticky {
    position: sticky;
    top: 0;
}


.content-home {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Showcase content */


.showcase-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.results-latest,
.news-latest {
    width: 100%;
    height: 80%;
    
}



.results-latest p,
.history-intro p,
.contact-intro p {
    color: rgb(0, 0, 0);
}

.read-more {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2rem 0;
    padding-right: 1.5rem;
} 

.btn-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0;
    color: rgb(150, 5, 5);
    font-family: Georgia, 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
    height: 1.7rem;
}

.btn-read-more::after {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 0%;
    height: 3px;
    position: absolute;
    left: 5%;
    bottom: -10%;
    transition: width .3s ease-in;  
}

.btn-read-more:hover::after {
    width: 100%;
}




/* Results-content */
.results-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.results-table {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.results-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.results-outline {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: rgb(255, 255, 255);
    transition: background .5s;
    cursor: pointer;
}

.results-outline:hover {
    background: rgb(220, 220, 220);
}

.results-column-type {
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
}

.column-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: rgb(155, 5, 5);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.column-type  p {
    display: flex;
    justify-content: center;   
    width: 100%;
}



.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-right: 1px solid rgb(155, 5, 5);
    color: rgb(155, 5, 5);
    font-weight: 500;
}

.column:last-of-type {
    border: none;
}


.column p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-name {
    width: 25%;
}

.column.column-name p{
    justify-content: flex-start;
    padding-left: .5rem;
}

.column-pointer {
    width: 15%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer-results {
    width: 12px;
    height: 12px;
    margin: 0 .5rem;
    transition: transform .2s;
    fill: rgb(155, 5, 5);
}

.pointer-transformed {
    transform: rotate(90deg);
}

.column-place {
    width: 15%;
}

.column-date {
    width: 15%;
}

.column-weapon {
    width: 10%;
}

.column-gender {
    width: 10%;
}

.column-age {
    width: 10%;
}

.column-document {
    width: 15%;
    
}

.column.column-document p {
    
    padding-left: 5px;
    font-size: 16px;
    color: rgb(155, 5, 5);
    font-weight: 600;
}

.column.column-document p:hover {
    border-left: 3px solid rgb(155, 5, 5);
}

.results-single:nth-of-type(2n) .results-outline  {
    background: rgb(155, 5, 5, .6);
}

.results-single:nth-of-type(2n):hover .results-outline  {
    background: rgb(155, 5, 5, .8);
}

.results-single:nth-of-type(2n) .results-outline .column,
.results-single:nth-of-type(2n) .results-outline .column p,
.results-single:nth-of-type(2n) .pointer-results {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}

.results-dropdown {
    width: 100%;
    display: none;
    box-sizing: border-box;
    flex-direction: column;
}

.results-dropdown-single {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(255, 255, 255, .4);
}

.results-dropdown-visible {
    display: flex;
}

.column-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-right: 1px solid rgb(255, 255, 255, .4);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.results-dropdown-single:last-of-type {
    border: none;
}

.column-drop.column-document p {
    padding-left: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.column-drop.column-document p:hover {
    font-weight: 600;
    border-left: 3px solid rgb(255, 255, 255);
}


/* News-content */
.news-single {
    width: 100%;
    height: 14rem;
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    background: none;
    transition: background .5s;
    position: relative;
}

.news-single:hover {
    background: rgb(255, 255, 255);
}

.news-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0 13%;
    padding-top: 1rem;
    margin-bottom: .3rem;
}

.news-headline {
    border-left: 3px solid rgb(150, 5, 5);
    padding-left: 2rem;
    color: rgb(150, 5, 5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.news-date {
    padding-right: 2rem;
    color: rgb(0, 0, 0, .4);
    font-weight: 600;
}

.news-outline {
    display: flex;
    width: 100%;
    height: 80%;
    padding-bottom: 1.5rem;
}

.news-img-container {
    width: 20%;
    height: 100%;
}

.news-text {
    padding: 1.5rem 1.5rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-text p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}



