.content-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 900px;
}

.news-single {
    width: 100%;
    height: 14rem;
    padding:0 2rem;
    display: flex;
    flex-direction: column;
    background: none;
    transition: background .5s;
    position: relative;
}

.news-single:hover {
    background: rgb(255, 255, 255);
}

.news-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0 13%;
    padding-top: 1rem;
    margin-bottom: .3rem;
}

.news-headline {
    border-left: 3px solid rgb(150, 5, 5);
    padding-left: 2rem;
    color: rgb(150, 5, 5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.news-date {
    padding-right: 2rem;
    color: rgb(0, 0, 0, .4);
    font-weight: 600;
}

.news-outline {
    display: flex;
    width: 100%;
    height: 80%;
    padding-bottom: 1.5rem;
}

.news-img-container {
    width: 20%;
    height: 100%;
}

.news-text {
    padding: 1.5rem 1.5rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-text p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}



/* Pagination */
.pagination-news {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 2rem;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 83%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 83%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 83%,rgba(255,255,255,0) 100%);
  }
  
  .pagination-news a {
    color: black;
    padding: 16px 28px;
    color: rgb(150, 5, 5);
    font-weight: 600;
    font-size: 1.3rem;
    transition: background .5s;
  }
  
  .pagination-news a.active {
    background-color: rgb(150, 5, 5);
    color: white;
  }
  
  .pagination-news a:hover:not(.active) {
      background-color: rgb(0, 0, 0, .1)
      
    }

