.content-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 900px;
}

.results-table {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #f4f4f4;
}

.results-outline {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: #f4f4f4;

}

.results-column-type {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
}

.column-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: rgb(155, 5, 5);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.column-type > p {
    display: flex;
    justify-content: center;   
    width: 100%;
}



.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-right: 1px solid rgb(155, 5, 5);
    color: rgb(155, 5, 5);
    font-weight: 500;
}

.column:last-of-type {
    border: none;
}


.column p {
    width: 85%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-name {
    width: 25%;
}

.column.column-name p{
    justify-content: flex-start;
    padding-left: 1rem;
}

.column-btn {
    width: 15%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pointer-column {
    width: 12px;
    height: 12px;
    margin: 0 .5rem;
}

.column-place {
    width: 15%;
}

.column-date {
    width: 15%;
}

.column-weapon {
    width: 10%;
}

.column-sex {
    width: 10%;
}

.column-age {
    width: 10%;
}

.column-document {
    width: 15%;
    flex-direction: column;   
    justify-content: space-evenly;
    align-items: flex-start;
}


.column.column-document p {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    margin-left: 1rem;
    font-size: 16px;
    text-align:start;
    color: rgb(155, 5, 5);
}

/* .column.column-document p:hover {
    font-weight: 600;
    border-left: 2px solid rgb(155, 5, 5);
} */

.results-single:nth-of-type(2n) .results-outline  {
    background: rgb(155, 5, 5, .6);
}

.results-single:nth-of-type(2n) .results-outline .column,
.results-single:nth-of-type(2n) .results-outline .column p {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.results-dropdown {
    width: 100%;
    display: none;
    box-sizing: border-box;
    flex-direction: column;
}

.results-dropdown-single {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: rgb(70, 70, 70);
}






