.content-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
}


.select-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.select-wrapper {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
}

.label {
    color: rgb(155, 5, 5);
    font-weight: 500;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: .5rem;
    margin-left: 2rem;
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    width: 170px;
    
}
.select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(155, 5, 5);
    height: 100%;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgb(155, 5, 5);
    /* border-radius: 5px; */
    cursor: pointer;
    /* border: 1px solid rgb(155, 5, 5); */
}

.options {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    max-height: 150px;
    top: 100%;
    left: 0%;
    border: 1px solid rgb(155, 5, 5);
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y:auto;
    
}
.select.open .options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.option {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(155, 5, 5);
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.5s;
}
.option:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
.option.selected {
    color: rgb(255, 255, 255);
    background-color: rgb(155, 5, 5, .7);
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: rgb(155, 5, 5);
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: rgb(155, 5, 5);
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

/* Competitions */
.results-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.results-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.results-outline {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: rgb(255, 255, 255);
    transition: background .5s;
    cursor: pointer;
}

.results-outline:hover {
    background: rgb(220, 220, 220);
}

.results-column-type {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
}

.column-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: rgb(155, 5, 5);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.column-type  p {
    display: flex;
    justify-content: center;   
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

}



.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-right: 1px solid rgb(155, 5, 5);
    color: rgb(155, 5, 5);
    font-weight: 500;
}

.column:last-of-type {
    border: none;
}


.column p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Merriweather;
    font-weight: 400;    
}

.column-name {
    width: 25%;
}

.column.column-name p{
    justify-content: flex-start;
    padding-left: .5rem;
}

.column-pointer {
    width: 15%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer-results {
    width: 12px;
    height: 12px;
    margin: 0 .5rem;
    transition: transform .2s;
    fill: rgb(155, 5, 5);
}

.pointer-transformed {
    transform: rotate(90deg);
}

.column-place {
    width: 15%;
}

.column-date {
    width: 15%;
}

.column-weapon {
    width: 10%;
}

.column-gender {
    width: 10%;
}

.column-age {
    width: 10%;
}

.column-document {
    width: 15%;  
}

.column.column-document p { 
    font-size: 16px;
    color: rgb(155, 5, 5);
    font-weight: 500;
    position: relative;
    z-index: 3;
    transition: .2s ease;
}

.column.column-document p:hover {
    transition: color .2s .3s ease-in;
    /* transform: scale(104%); */
    color: rgb(255, 255, 255);
}

.column.column-document p::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;  
    height: 1px;
    border-radius: 0;
    background-color: rgb(155, 5, 5);
    transition: .2s ease; 
}

.column.column-document p:hover::after {
    bottom: -15%;
    transform: scaleX(110%);
    height: 130%;
    border-radius: 3px;
    transition: bottom .1s, transform .2s .1s ease,border-radius .2s .3s, height .2s .3s; 
}

.results-single:nth-of-type(2n) .results-outline .column p::after {
    background-color: rgb(255, 255, 255);
}

.results-single:nth-of-type(2n) .results-outline  {
    background: rgb(155, 5, 5, .6);
}

.results-single:nth-of-type(2n):hover .results-outline  {
    background: rgb(155, 5, 5, .8);
}

.results-single:nth-of-type(2n) .results-outline .column,
.results-single:nth-of-type(2n) .results-outline .column p,
.results-single:nth-of-type(2n) .pointer-results {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}


.results-single:nth-of-type(2n) .results-outline .column.column-document p:hover {
    color: rgb(155, 5, 5);
    transition: color .2s .3s ease-in;
}


.results-dropdown {
    width: 100%;
    visibility: hidden;
    display: flex;
    height: 0;
    flex-direction: column;
    opacity: 0;
    /* transition: all .4s ease; */
    transition: height .4s, opacity .2s ease, visibility .5s ease;
}

.results-dropdown-single {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(255, 255, 255, .4);
}

.results-dropdown-visible {
    transition: height .4s, opacity .3s ease, visibility .2s .06s ease;
    visibility: visible;
    opacity: 1;
}

.column-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    border-right: 1px solid rgb(255, 255, 255, .4);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: Merriweather;
}

.results-dropdown-single:last-of-type {
    border: none;
}

.column-drop.column-document p {
    padding-left: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    position: relative;
    transition: all .1s;
    z-index: 3;
}

.column-drop.column-document p:hover {
    transition: color .3s .3s ease-in;
    color: rgb(100, 100, 100);
}

.column-drop.column-document p::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;  
    height: 100%;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    transition: .2s ease; 
}

.column-drop.column-document p:hover::after {
    left: -5%;
    transform: scaleY(120%);
    width: 110%;
    border-radius: 3px;
    transition: left .1s, transform .2s .1s ease,border-radius .2s .3s, width .2s .3s; 
}





