/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
	font-family: AcademyFilled;  
	src: url(../fonts/AcademyFilled3D.ttf);  
	font-weight: normal;  
}

@font-face {
	font-family: Roboto-Slab;  
	src: url(../fonts/Roboto-Slab/RobotoSlab-VariableFont_wght.ttf);  
	font-weight: normal;  
}



/* Style */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}



/* Sticky */


.hidden {
    display: none;
}



/* Heading */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position:absolute;
    z-index: 0;
}


.header-info {
    height: 8vh;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.header-info p {
    color: rgb(150, 5, 5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    justify-self: flex-end;
    margin-left: auto;
    border-right: 3px solid rgb(150, 5, 5);
    padding: 0 1rem;
}


.icon-social {
    display: flex;
    align-items: center;
    height: 64px; 
    width: 64px;
    margin-left: 1rem;
    fill: rgb(150, 150, 150, .8);
    transition: fill .5s;
}


.icon-social:hover {
    fill: rgb(150, 5, 5);
}



.crest-home {
    display: flex;
    align-items: center;
     max-width: initial;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 20vh;
     width: 100%;
     z-index: 2;
     position:relative;
}

.crest {
    display: flex;
    align-items: center;
    justify-self: center;
}

.headline {
    font-family: AcademyFilled;
    -webkit-text-stroke: .05rem rgb(0, 0, 0);
}
.headline-home {
    font-size: 5rem;
}

.headline-header-info {
    font-size: 3rem;
}

.headline-red {
    -webkit-text-fill-color: rgba(180, 0, 0, .9);
}

.headline-white {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
}

.crest-img {
    width: 4rem;
}

.padder {
    height: 66vh;
    z-index: 1;
}




/* Navbar */


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 83%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 83%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 83%,rgba(255,255,255,0) 100%);
    width: 100%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    height: 6vh;
    z-index: 15;
    position: relative;
}

nav ul { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1200px;
    min-width: 63.4rem;
    list-style: none;
    margin-right: -5px;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 240px;
    margin-left: -1px;
    position: relative;
    background: none;
    /* transition: background .2s; */
}


.btn-active {
    position: relative;
 }

.btn-active::after {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;  
}

nav li > a {
    position: relative;
}

nav li > a::before {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;    
    transition: height .3s;
    z-index: -1;
}

nav li:hover > a::before {
    height: 100%;
}

nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(150, 5, 5); */
    height: 100%;
    width: 100%;
    padding: 10px 0;   
}

.btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(150, 5, 5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    padding: .3rem 0;
    width: 100%; 
    border-right: 1px solid rgb(150, 5, 5);
    height: 100%;
    transition: color .3s;
}

nav ul li:last-of-type a p.btn-nav {
    border-right: none;
}

.icon-nav {
    width: 28px;
    height: 28px;
    fill: rgb(150, 5, 5);
    margin-right: 10px;
    transition: fill .3s;
}

li:hover .btn-nav {    
    color: rgb(255, 255, 255); 
}

nav li:hover .icon-nav{
    fill: rgb(255, 255, 255);
}



/* Dropdown Menu */
.dropdown {
    position: relative;
    z-index: 10;
}

.pointer {
    width: 20px;
    height: 20px;
    fill: rgb(150, 5, 5);
    margin-right: 0;
    position: absolute;
    right: 0;
    margin-right: 10%;
    transition: all .3s;
}

.dropdown:hover .pointer {
    transform: rotate(90deg);
    fill: rgb(255, 255, 255);
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    box-sizing: border-box;
    padding-top: .2rem;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s; 
}

.drop-item {
    width: 100%;
    height: 6vh;
    padding: 0 0;
    margin-top: -1px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    background: none;
}


.drop-item-active {
    position: relative;
 }

.drop-item-active::after {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0; 
}

.drop-item::before {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 0px;
    height: 6vh;
    position: absolute;
    left: 0; 
    z-index: -1;
    transition: width .5s;
}

.drop-item-p {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 5, 5);
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom:  1px solid rgb(150, 5, 5);
    transition: color .5s ;
}

.drop-item:last-of-type p {
    border: none;
}

.dropdown:hover 
.dropdown-menu {
    visibility: visible;
    opacity: 1;
}


.drop-item:hover::before {
    width: 100%;
}

.drop-item:hover .drop-item-p {
    color: rgb(255, 255, 255);
}


/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: rgba(220, 220, 220, 0.25); */
    background: rgb(240, 240, 240);
    position: relative;
    /* background: url(/img/background-finished-2.svg) center center /cover; */
}



/* .background {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    background: url(/img/background-finished-2.svg)  center center /cover;
} */

.container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(255, 255, 255, .7); */
}

/* Content */
.content {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1200px;
    z-index: 8; 
    background: rgb(240, 240, 240);
    /* box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.4), -1px 0px 2px 0px rgba(0, 0, 0, 0.4); */
    padding: 2rem 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Footer */
.footer {
    width: 100%;
    height: 42vh;
    background: rgb(33, 33, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-body {
    width: 1200px;
    height: 39vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.footer-contact {
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.footer-contact-headline {
    display: flex;
    width: 85%;

}

.footer-contact h3 {
    color: rgb(155, 5, 5);
    border-bottom: 3px solid rgb(155, 5, 5);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.footer-contact-info {
    display: flex;
    width: 100%;
}

.footer-contact-left,
.footer-contact-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.footer-contact-left {
    width: 42%;
}

.footer-contact-right{
    width: 50%;
    margin-left: 2rem;
}



.footer-contact p {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: .3rem 0;
    font-size: 1.5rem;
}

.icon-footer {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
    fill: rgb(155, 5, 5);
}


.footer-contact p a {
    color: rgb(155, 5, 5);
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-weight: 600;
    position: relative;
    z-index: 11;
}

.footer-contact p a::before {
    content: '';
    position: absolute;
    width: 130%;
    height: 2px;
    bottom: -15%;
    left: -15%;
    background: rgb(255, 255, 255);
    border-radius: 0;
    transition: all .5s;
    z-index: -1;
}


.footer-contact p a:hover::before {
    height: 120%;
    border-radius: 4px;
}

.footer-hr {
    clear: both;
    border: 0;
    height: 110%;
    display: block!important;
    width:  1px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(255, 255, 255, 0.75),rgba(0,0,0,0));
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.footer-social p {
    color: rgb(155, 5, 5);
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    border-bottom: 3px solid rgb(155, 5, 5);
}

.icons-social-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}


.icon-social-footer {
    display: flex;
    align-items: center;
    height: 64px; 
    width: 64px;
    fill: rgba(255, 255, 255, 0.8);
    margin: 0 1rem;
    transition: fill .5s;
}



.icon-social-footer:hover {
    fill: rgb(155, 5, 5);
}


.crest-footer {
    width:initial;
    margin-bottom: -5.3rem;
    z-index: 10;
}


.terms-conditions {
    width: 1200px;
    height: 3vh;
    border-top: 1px solid rgb(211, 211, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.terms-conditions p {
    color: rgba(255, 255, 255, 0.5)
}

.terms-conditions a {
    color: rgb(155, 5, 5, .6);
    transition: all .5s;
}

.terms-conditions a:hover {
    color: rgb(155, 5, 5);
}












