/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
	font-family: AcademyFilled;  
	src: url(/AcademyFilled3D.ttf);  
	font-weight: normal;  
}



/* Style */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}



/* Sticky */


.hidden {
    display: none;
}



/* Heading */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position:absolute;
    z-index: 0;
}


.header-info {
    height: 8vh;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.header-info p {
    color: rgb(150, 5, 5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    justify-self: flex-end;
    margin-left: auto;
}


.icon-social {
    display: flex;
    align-items: center;
    height: 80%; 
    width: 2.5%;
    margin-left: 1rem;
    fill: rgb(150, 150, 150, .8);
}


.icon-social:hover {
    fill: rgb(150, 5, 5);
}



.crest-home {
    display: flex;
    align-items: center;
     max-width: initial;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 20vh;
     width: 100%;
     z-index: 2;
     position:relative;
}

.crest {
    display: flex;
    align-items: center;
    justify-self: center;
}

.headline {
    font-family: AcademyFilled;
    -webkit-text-stroke: .05rem rgb(0, 0, 0);
}
.headline-home {
    font-size: 5rem;
}

.headline-header-info {
    font-size: 3rem;
}

.headline-red {
    -webkit-text-fill-color: rgba(180, 0, 0, .9);
}

.headline-white {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
}

.crest-img {
    width: 4rem;
}

.padder {
    height: 66vh;
    z-index: 1;
}


/* Navbar */


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    height: 6vh;
    z-index: 15;
    position: relative;
}

nav ul { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1200px;
    min-width: 63.4rem;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 240px;
    margin-left: -1px;
    position: relative;
}


.btn-active {
    position: relative;
 }

.btn-active::after {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;  
}

nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 5, 5);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
    padding: 10px 0;   
}

.btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .3rem 0;
    width: 100%; 
    border-right: 1px solid rgb(150, 5, 5);
    height: 100%;
}

nav ul li:last-of-type a p.btn-nav {
    border-right: none;
}

.icon-nav {
    width: 28px;
    height: 28px;
    fill: rgb(150, 5, 5);
    margin-right: 10px;
}

li:hover,
li:hover a p.btn-nav {
    background:rgb(150, 5, 5);
    color: rgb(255, 255, 255); 
}

nav li:hover .icon-nav{
    fill: rgb(255, 255, 255);
}



/* Dropdown Menu */
.dropdown {
    position: relative;
    z-index: 10;
}

.pointer {
    width: 20px;
    height: 20px;
    fill: rgb(150, 5, 5);
    margin-right: 0;
    position: absolute;
    right: 0;
    margin-right: 10%;
    transition: transform .2s;
}

.dropdown:hover 
.pointer {
    transform: rotate(90deg);
}

.dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    padding-top: .2rem;
}

.dropdown:hover .btn-nav {
    background: rgb(150, 5, 5);
    color: rgb(255, 255, 255);
}

.drop-item {
    width: 100%;
    height: 6vh;
    padding: 0 0;
    margin-top: -1px;
}


.drop-item-active {
    position: relative;
 }

.drop-item-active::after {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 4px;
    height: 6vh;
    position: absolute;
    left: 0; 
}

.drop-item-p {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    /* padding: 0 15%; */
    align-items: center;
    color: rgb(150, 5, 5);
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom:  1px solid rgb(150, 5, 5);
}

.drop-item:last-of-type p {
    border: none;
}

.dropdown:hover 
.dropdown-menu {
    display: flex;
    flex-direction: column;
}


.drop-item:hover {
    background-color: rgb(150, 5, 5);
}

.drop-item:hover .drop-item-p {
    color: rgb(255, 255, 255);
}


/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: rgba(220, 220, 220, 0.25); */
    background: rgb(240, 240, 240);
    position: relative;
    /* background: url(/img/background-finished-2.svg) center center /cover; */
}



/* .background {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    background: url(/img/background-finished-2.svg)  center center /cover;
} */

.container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(255, 255, 255, .7); */
}

/* Content */
.content {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1200px;
    z-index: 8; 
    background: rgb(240, 240, 240);
    /* box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.4), -1px 0px 2px 0px rgba(0, 0, 0, 0.4); */
    padding: 2rem 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Footer */
.footer {
    width: 100%;
    height: 40vh;
    background: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-body {
    width: 1200px;
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.footer-contact {
    width: 50%;
    height: 20vh;
}

.footer-contact h3,
.footer-contact p {
    color: #fff;
}


.icon-social-footer {
    display: flex;
    align-items: center;
    height: 48px; 
    width: 48px;
    margin-left: 1rem;
    fill: rgba(255, 255, 255, 0.8);
}


.icon-social-footer:hover {
    fill: rgb(150, 5, 5);
}


.grb-footer {
    width:initial;
    margin-bottom: -1rem;
}


.terms-conditions {
    width: 100%;
    height: 4vh;
    color: #fff;
    border-top: 1px solid rgb(133, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    
}













