/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
	font-family: AcademyFilled;  
	src: url(/AcademyFilled3D.ttf);  
	font-weight: normal;  
}


/* Style */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}



/* Sticky */


.hidden {
    display: none;
}



/* Heading */

.header {
    width: 100%;
    height: 100vh;
    background: url('/img/img-slider-3.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position:absolute;
    z-index: 0;

}


.header-info {
    height: 7vh;
    width: 100%;
    display: flex;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2rem;
}

.header-info p {
    color: rgb(150, 5, 5);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.background-grey {
    background: rgb(240, 240, 240, .9);
}

.icon-social {
    max-width: 80%;
    max-height: 80%;
    fill: rgb(150, 150, 150, .8);
    margin-left: 1rem;
}

.icon-social:hover {
    fill: rgb(150, 5, 5);
}



.crest {
    display: flex;
    align-items: center;
     max-width: initial;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 20vh;
     width: 100%;
     z-index: 2;
     position:relative;
}

.headline {
    color: #fff;
    font-family: AcademyFilled;
    -webkit-text-stroke: .06rem black;
    text-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
    font-size: 5rem;
}

.padder {
    height: 66vh;
    z-index: 1;
}


/* Navbar */


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(240, 240, 240, .9);
    width: 100%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    height: 7vh;
    z-index: 15;
    position: relative;
}

.nav-sticky {
    position: sticky;
    top: 0;
}

nav ul { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 63.4rem;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 13%;
    margin-left: -1px;
    position: relative;
     
}


.btn-active {
    width: 100%; 
    height: 100%;
 }

.btn-active::after {
    content: '';
    background-color: rgb(150, 5, 5);
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0%;
    bottom: 0%;  
}

nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 5, 5);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
    padding: 10px 0;   
}

.btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .3rem 0;
    width: 100%; 
    border-right: 1px solid rgb(150, 5, 5);
    height: 100%;
}

nav ul li:last-of-type a p.btn-nav {
    border-right: none;
}

.icon-nav {
    width: 28px;
    height: 28px;
    fill: rgb(150, 5, 5);
    margin-right: 10px;
}

li:hover,
li:hover a p.btn-nav {
    background:rgb(150, 5, 5);
    color: rgb(255, 255, 255); 
}

nav li:hover .icon-nav{
    fill: rgb(255, 255, 255);
}



/* Dropdown Menu */
.dropdown {
    position: relative;
    z-index: 10;
}

.pointer {
    width: 20px;
    height: 20px;
    fill: rgb(150, 5, 5);
    margin-right: 0;
    position: absolute;
    right: 5%;
    transition: transform .2s;
}

.dropdown:hover 
.pointer {
    transform: rotate(90deg);
}

.dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
    background: rgb(240, 240, 240, .9);
    box-sizing: border-box;
    padding-top: .2rem;
}

.dropdown:hover .btn-nav {
    background: rgb(150, 5, 5);
    color: rgb(255, 255, 255);
}

.drop-item {
    width: 100%;
    height: 7vh;
    padding: 0 0;
    margin-top: -1px;
}

.drop-item-active {
    border-left: 3px solid rgb(150, 5, 5);
}

.drop-item-p {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(150, 5, 5);
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom:  1px solid rgb(150, 5, 5);
}

.drop-item:last-of-type p {
    border: none;
}

.dropdown:hover 
.dropdown-menu {
    display: flex;
    flex-direction: column;
}


.drop-item:hover {
    background-color: rgb(150, 5, 5);
}

.drop-item:hover .drop-item-p {
    color: rgb(255, 255, 255);
}


/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.25);
}



/* Content */
.content {
    width: 1000px;
    background: rgb(255, 255, 255);
    z-index: 8;
    
}

.content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Showcase content */
.results-latest,
.history-intro {
    width: 90%;
    height: 80%;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.4), -2px 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.contact-intro {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.4), -2px 0px 2px 0px rgba(0, 0, 0, 0.4);
    
}

.results-latest p,
.history-intro p,
.contact-intro p {
    color: rgb(0, 0, 0);
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(80, 80, 80);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
    height: 60vh;
    width: 100%;
}

.footer-red {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer-white {
    width: 45%;
    height: 100%;
    padding: 2rem 2rem;
}

.footer-middle {
    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;
    z-index: 5;
    
}

.crest-footer {
    width: 300%;
    
}


.contact-intro {
    width: 90%;
    
}

.contact-intro-content {
    padding: 1rem 2rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-intro img {
    width: 49%;
    /* padding: .5rem .5rem; */
}

footer div.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    padding-top: .3rem;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(150, 5, 5);
}

footer div.social a img {
    margin: 0 .5rem;
}


footer div.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(80, 80, 80);
    border-top: 1px solid rgba(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 1.6rem;
    font-size: 1rem;

} 














